.DS_Store

/TakeFive/.gradle
/TakeFive/local.properties
/TakeFive/.idea/workspace.xml
/TakeFive/.idea/libraries
/TakeFive/.DS_Store
/TakeFive/build
/TakeFive/takeFive/build
/TakeFive/import-summary.txt

/TakeFive_kotlin/.gradle
/TakeFive_kotlin/local.properties
/TakeFive_kotlin/.idea/workspace.xml
/TakeFive_kotlin/.idea/libraries
/TakeFive_kotlin/.DS_Store
/TakeFive_kotlin/build
/TakeFive_kotlin/takeFive/build
/TakeFive_kotlin/import-summary.txt